<div class="manufacturer-container">
  <h1>List of Manufacturers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @manufacturers.each do |manufacturer| %>
        <tr>
          <td><%= manufacturer.name %></td>
          <td><%= manufacturer.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
